.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.Header {
  display: flex;
  justify-content: space-between;
  height:10vh;
  padding:3% 4% 0;
}
.Home {
  width:3em;
  height:3em;

}
.User {
  width:3em;
  height:3em;
}
.User >i {
  font-size: 3em;
}
.Site-logo {
  width:80%;
}
.Italic {
  font-style: italic;
  margin: 0 10%;
}
.Right-arrow {
  width: 20%;
  height: 20%;
}
.Left {
  text-align: left;
  margin-left: 5%;
}
.Popular {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  grid-gap: .5em;
}
.Popular >div {
  height: 8em;
}
.Popular >div >img{
  height:90%;
  width:100%;
}


.slides:nth-of-type(1){
  grid-column: 1 / 4;
  grid-row: 1/2;

}
.slides:nth-of-type(2){
  grid-row:2/3;
  grid-column: 1/2;
  transform:rotate(30deg);
}
.slides:nth-of-type(3){
  grid-row:2 /3;
  grid-column: 2/3;
  transform:rotate(30deg);
}
.slides:nth-of-type(4){
  grid-row: 2 /3;
  grid-column: 3 /4;
  transform:rotate(30deg);
}


/* hamburger menu for Hamburger.js*/
.menu {
  display: flex;
  justify-content: flex-end;
  width:100%;
 
}
.menu summary {
  list-style: none;
  outline: none;
  /* transform: rotate(-90deg); */
  position: absolute;
  top: 2em;
  left: 1em;
}
.menu summary::-webkit-details-marker{
  display: none;
}
.menu details {
  display: flex;
  flex-direction: row;
  /* transform: rotate(90deg); */
  position: relative;
  height:3em;
  /* transition: height 1s ease; */
}
.menu details[open] {
	animation-name: growAndFadeInFontSize;
  animation-duration: 500ms;
}
.menu details ul {
  /* transform: rotate(-90deg); */
  position: absolute;
  top: 100%;
}
.menu details ul a:hover {
  color: blue;
}
summary >.Hamburger >i {
  font-size: 3em;
}


/* User icon  */
summary::-webkit-details-marker{
  display: none;
  outline: none;
} 
summary {
  outline: none;
}
.User{
  list-style: none;

}

.build {
  box-shadow:0 2px 3px rgba(151,151,255,0.7);
  background: rgba(204,204,255,0.7);
  border-radius: 3px;
  height:3em;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  margin-top:5%;
}
.build:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 19%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid rgba(204,204,255,0.7);
}
.LoginLinks>div >a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.LoginLinks {
  display: flex;
  justify-content: space-evenly;
  width:100%;
}
.cities {
  overflow: scroll;
  height:75vh;
 
}
.city{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.cityNames{
  align-self: center;
  position:absolute;
  top:30%;
  background: rgba(238,238,238,0.7);
  padding:3%;
  width:8em;
  text-align: center;
  border-radius: 5px;
}
input[type="text"]:focus{
  /* border-bottom: 3px solid black ; */
  
  outline:none !important;
}
.filterText {
  font-size: 1.2em;
  width: 80% !important;
  border: 3px solid #c0d6e4 ;
  border-radius: 5px ;
  height: 2.2em;
}
.cityPageMsg{
 font-family: 'Pattaya', sans-serif;
 font-size:2em;
 margin-left:3%;
 margin-bottom: 3%;
}



select {
  width:80%;
  height:3em;
}

/* for landing page carrousel */
.slider{position:relative;height:400px;width:100%}.slider.fullscreen{height:100%;width:100%;position:absolute;top:0;left:0;right:0;bottom:0}.slider.fullscreen ul.slides{height:100%}.slider.fullscreen ul.indicators{z-index:2;bottom:30px}.slider .slides{background-color:#9e9e9e;margin:0;height:400px}.slider .slides li{opacity:0;position:absolute;top:0;left:0;z-index:1;width:100%;height:inherit;overflow:hidden}.slider .slides li img{height:100%;width:100%;background-size:cover;background-position:center}.slider .slides li .caption{color:#fff;position:absolute;top:15%;left:15%;width:70%;opacity:0}.slider .slides li .caption p{color:#e0e0e0}.slider .slides li.active{z-index:2}.slider .indicators{position:absolute;text-align:center;left:0;right:0;bottom:0;margin:0}.slider .indicators .indicator-item{display:inline-block;position:relative;cursor:pointer;height:16px;width:16px;margin:0 12px;background-color:#e0e0e0;-webkit-transition:background-color .3s;transition:background-color .3s;border-radius:50%}.slider .indicators .indicator-item.active{background-color:#4CAF50}.carousel{overflow:hidden;position:relative;width:100%;height:400px;-webkit-perspective:500px;perspective:500px;-webkit-transform-style:preserve-3d;transform-style:preserve-3d;-webkit-transform-origin:0% 50%;transform-origin:0% 50%}.carousel.carousel-slider{top:0;left:0}.carousel.carousel-slider .carousel-fixed-item{position:absolute;left:0;right:0;bottom:20px;z-index:1}.carousel.carousel-slider .carousel-fixed-item.with-indicators{bottom:68px}.carousel.carousel-slider .carousel-item{width:100%;height:100%;min-height:400px;position:absolute;top:0;left:0}.carousel.carousel-slider .carousel-item h2{font-size:24px;font-weight:500;line-height:32px}.carousel.carousel-slider .carousel-item p{font-size:15px}
