.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Header {
  display: flex;
  justify-content: space-between;
  height:10vh;
  padding:3% 4% 0;
}
.Home {
  width:3em;
  height:3em;

}
.User {
  width:3em;
  height:3em;
  /* background: #282c34; */
  /* border-radius: 50%; */
}
.User >i {
  font-size: 3em;
}
.Site-logo {
  width:80%;
}
.Italic {
  font-style: italic;
  margin: 0 10%;
}
.Right-arrow {
  width: 20%;
  height: 20%;
}
.Left {
  text-align: left;
  margin-left: 5%;
}
.Popular {
  display: grid;
  grid-template-columns: 45% 45%;
  justify-content: center;
  grid-gap: .5em;
}
.Popular >div {
  height: 8em;
}
.Popular >div >img{
  height:90%;
  width:100%;
}


.slides:nth-of-type(1){
  grid-column: 1 / 4;
  grid-row: 1/2;

}
.slides:nth-of-type(2){
  grid-row:2/3;
  grid-column: 1/2;
  transform:rotate(30deg);
}
.slides:nth-of-type(3){
  grid-row:2 /3;
  grid-column: 2/3;
  transform:rotate(30deg);
}
.slides:nth-of-type(4){
  grid-row: 2 /3;
  grid-column: 3 /4;
  transform:rotate(30deg);
}


/* hamburger menu for Hamburger.js*/
.menu {
  display: flex;
  justify-content: flex-end;
  width:100%;
 
}
.menu summary {
  list-style: none;
  outline: none;
  /* transform: rotate(-90deg); */
  position: absolute;
  top: 2em;
  left: 1em;
}
.menu summary::-webkit-details-marker{
  display: none;
}
.menu details {
  display: flex;
  flex-direction: row;
  /* transform: rotate(90deg); */
  position: relative;
  height:3em;
  /* transition: height 1s ease; */
}
.menu details[open] {
	animation-name: growAndFadeInFontSize;
  animation-duration: 500ms;
}
.menu details ul {
  /* transform: rotate(-90deg); */
  position: absolute;
  top: 100%;
}
.menu details ul a:hover {
  color: blue;
}
summary >.Hamburger >i {
  font-size: 3em;
}

/* Nav Hamburger */
#ham-menu {
  background-color: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 10px 40px; 
  position: fixed;
  right: -300px; 
  top: 0;
  transition: transform 0.3s linear 0s; 
  width: 300px; 
  z-index: 1000;
}
#ham-menu > ul > li {
  margin: 10% 0;
}
#menu-background {
  background-color: #333; 
  display: block;
  height: 100%;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s linear 0s; 
  width: 100%;
  z-index: -1;
}

#menu-icon {
  background-color: #fff; 
  border-radius: 0 0 0 10px; 
  color: #333; 
  cursor: pointer;
  display: block;
  font-size: 50px; 
  height: 50px; 
  line-height: 50px; 
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 50px; 
  transition: all 0.3s linear 0s; 
  z-index: 1000;
}

#menu-cb {
  display: none; 
}

#menu-cb:checked ~ #ham-menu,
#menu-cb:checked ~ #menu-icon {
  transform: translate(-300px); 
}

#menu-cb:checked ~ #menu-background {
  opacity: 0.5;
  z-index: 999;
}

.Nav a {
  font-size: 2em;
  font-family: 'Fredericka the Great', cursive;
}

/* User icon  */
summary::-webkit-details-marker{
  display: none;
  outline: none;
} 
summary {
  outline: none;
}
.User{
  list-style: none;

}

.build {
  box-shadow:0 2px 3px rgba(151,151,255,0.7);
  background: rgba(204,204,255,0.7);
  border-radius: 3px;
  height:3em;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
  margin-top:5%;
}
.build:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 19%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid rgba(204,204,255,0.7);
}
.LoginLinks>div >a:hover {
  text-decoration: underline;
  font-weight: bold;
}
.LoginLinks {
  display: flex;
  justify-content: space-evenly;
  width:100%;
}
.cities {
  overflow: scroll;
  height:75vh;
 
}
.cities > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:relative;
}
.cityNames{
  align-self: center;
  position:absolute;
  top:30%;
  background: rgba(238,238,238,0.7);
  padding:3%;
  width:8em;
  text-align: center;
  border-radius: 5px;
}
input[type="text"]:focus{
  /* border-bottom: 3px solid black ; */
  
  outline:none !important;
}
.filterText {
  font-size: 1.2em;
  width: 80% !important;
  border: 3px solid #c0d6e4 !important;
  border-radius: 5px !important;
}
.cityPageMsg{
 font-family: 'Pattaya', sans-serif;
 font-size:2em;
 margin-left:3%;
 
}